.App {
  text-align: center;
  max-width: 1080px;
  background-color: lavenderblush;
}

h1 {
  font-size: 2em;
}

ul {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  list-style-type: none;
}


button {
  background-color: lavender;
  border: 1px solid black;
  margin: 5px;
}